label {
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

form {
  text-align: center;
  margin-top: 5%;
  margin-left: 33%;
  margin-right: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  text-align: center;
  margin-top: 2%;
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
